@mixin fluid-type($min-width, $max-width, $min-value, $max-value, $property: font-size) {
  $u1: unit($min-width);
  $u2: unit($max-width);
  $u3: unit($min-value);
  $u4: unit($max-value);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$property}: $min-value;

      @media screen and (min-width: $min-width) {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
      }

      @media screen and (min-width: $max-width) {
        #{$property}: $max-value;
      }
    }
  }
}