.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  border-radius: 32px;
  height: 64px;
  font-family: var(--font-tertiary);
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5004px;

  @include media($to: 'md') {
    height: 60px;
  }

  &_primary {
    color: #000;
    background: #e7943e;
  }

  &_secondary {
    border: 2px solid currentColor;
    color: inherit;
    background: none;
  }
}
