.blockquote
  .container
    .blockquote__inner
      blockquote.blockquote__text
        | “I believe that PrairieCare is able to give individualized care to each patient because of the tremendous amount of teamwork that goes on—not only among professionals on the treatment team, but also with the family.”
      .blockquote__meta
        strong – Katie Walker
        |  Needs Assessment Counselor
