.reason
  .container
    .reason__title
      | Why PrairieCare?
    p.reason__text
      | PrairieCare is a physician-owned and operated psychiatric healthcare system, with services spanning the full continuum of patient care. Be a part of a purpose-driven team that offers hope and healing to our patients while advancing your unique career!
    +button('Work With Us', { classList: 'reason__button' })
